%li[story]
  %h4= story.title
  %p.votes
    #{story.votes} votes
    - if current_user
      = link_to raw("&#11014;"), upvote_path(story),   :remote => true, :method => :post, :id => "upvote-#{story.id}"
      = link_to raw("&#11015;"), downvote_path(story), :remote => true, :method => :post, :id => "downvote-#{story.id}"
  .body
    = simple_format(story.body)

