!!!
%html
  %head
    %title TrueStories
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #masthead
      %h1 True Stories of BDD
      %h3 What are you *really* working on?

    #content
      = yield

      #login
        - if current_user
          %p
            logged in as #{current_user.nickname}
          - if current_user.authentications.size < 2
            %p
              click to connect with:
              - unless current_user.has_auth?('twitter')
                %a{:href => "/auth/twitter"}= image_tag("twitter_32.png", :size => "32x32", :title => 'Twitter')
              - unless current_user.has_auth?('github')
                %a{:href => "/auth/github"}= image_tag("github_32.png", :size => "32x32", :title => 'Github')
          %p
            = link_to 'Sign out', sign_out_path
        - else
          %p
            Sign in to vote.
          %p
            %a{:href => "/auth/twitter"}= image_tag("twitter_32.png", :size => "32x32", :title => 'Twitter')

            %a{:href => "/auth/github"}= image_tag("github_32.png", :size => "32x32", :title => 'Github')

            %strong Don&rsquo;t use these services?
            = link_to "Create an account", new_identity_path
            or
            = link_to "Sign in here", '/auth/identity'

