!!!
%html
  %head
    %title TrueStories
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %h1 True Stories of BDD
    %h3 What are you *really* working on?
    - if current_user
      %p
        logged in as #{current_user.email}
    - else
      = link_to "Sign In", '/auth/developer'
    = yield
