!!!
%html
  %head
    %title True Stories of Behavior Driven Development
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '#{ENV["GA_KEY"]}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    #masthead
      %h1 True Stories of BDD
      %h3 What are you *really* working on?

    #content
      = yield

      #login
        - if current_user
          %p
            logged in as #{current_user.nickname}
          - if current_user.authentications.size < 2
            %p
              click to connect with:
              - unless current_user.has_auth?('twitter')
                %a{:href => "/auth/twitter"}= image_tag("twitter_32.png", :size => "32x32", :title => 'Twitter')
              - unless current_user.has_auth?('github')
                %a{:href => "/auth/github"}= image_tag("github_32.png", :size => "32x32", :title => 'Github')
          %p
            = link_to 'Sign out', sign_out_path
        - else
          %p
            Sign in to vote.
          %p
            %a{:href => "/auth/twitter"}= image_tag("twitter_32.png", :size => "32x32", :title => 'Twitter')

            %a{:href => "/auth/github"}= image_tag("github_32.png", :size => "32x32", :title => 'Github')

            %strong Don&rsquo;t use these services?
            = link_to "Create an account", new_identity_path
            or
            = link_to "Sign in here", '/auth/identity'

      %p
        %small
          &copy; 2012 -
          = link_to "Matt Van Horn", "http://mattvanhorn.com"

