!!!
%html
  %head
    %title TrueStories
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #masthead
      %h1 True Stories of BDD
      %h3 What are you *really* working on?

    #content
      = yield

      #login
        - if current_user
          %p
            logged in as #{current_user.email}
        - else
          %p
            Sign in to vote
          %ul
            %li
              %a{:href => "/auth/twitter"}
                = image_tag("twitter_32.png", :size => "32x32")
                Sign in with Twitter
            %li
              %a{:href => "/auth/github"}
              = image_tag("github_32.png", :size => "32x32")
              Sign in with Github

          %strong Don&rsquo;t use these services?
          = link_to "Create an account", new_identity_path
          or
          = link_to "Sign In", '/auth/developer'

